# ===============================
# Arquivos e diretórios sensíveis
# ===============================
.env
.env.*
config.json
credentials.json

.venv/
venv/
env/
ENV/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg

.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo

*.log
*.tmp
*.bak
*.cache
.cache/
*.sqlite3
.mypy_cache/
.pytest_cache/

docker-compose.override.yml
.docker/
**/pgdata/
**/pgadmin_data/
*.pid

data/
report/*.pdf
bi/powerbi/
*.csv
*.xlsx
*.xls
*.ods
*.pbix
*.pbit

build/
dist/
*.whl

*.zip
*.rar
*.7z